* {
  box-sizing: border-box;
}
h1 {
  text-decoration: none;
  text-align: center;
  margin-bottom: 15px;
}
#box_chicken,
#box_beef,
#box_sushi {
  border: 1px solid rgb(7, 3, 1);
  background-color: grey;
  margin: 10px;
}
#chicken_title,
#beef_title,
#sushi_title {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  float: right;
  width: 30%;
  height: 20px;
}
#chicken_title {
  background-color: bisque;
  color: black;
}
#beef_title {
  background-color: bisque;
  color: black;
}
#sushi_title {
  background-color: bisque;
  color: black;
}
.scetion_content {
  padding: 30px 15px 10px 15px;
}
/* simple responsive*/
.row {
  width: 100%;
}
/**** desktop*****/
@media (min-width: 992px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/**** tablet*****/
@media (min-width: 768px) and (max-width: 991px) {
  .col-mt-1,
  .col-mt-2,
  .col-mt-3,
  .col-mt-4,
  .col-mt-5,
  .col-mt-6,
  .col-mt-7,
  .col-mt-8,
  .col-mt-9,
  .col-mt-10,
  .col-mt-11,
  .col-mt-12 {
    float: left;
  }
  .col-mt-1 {
    width: 8.33%;
  }
  .col-mt-2 {
    width: 16.66%;
  }
  .col-mt-3 {
    width: 25%;
  }
  .col-mt-4 {
    width: 33.33%;
  }
  .col-mt-5 {
    width: 41.66%;
  }
  .col-mt-6 {
    width: 50%;
  }
  .col-mt-7 {
    width: 58.33%;
  }
  .col-mt-8 {
    width: 66.66%;
  }
  .col-mt-9 {
    width: 74.99%;
  }
  .col-mt-10 {
    width: 83.33%;
  }
  .col-mt-11 {
    width: 91.66;
  }
  .col-mt-12 {
    width: 100%;
  }
}

/**** moblie*****/
@media (max-width: 767px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66;
  }
  .col-md-12 {
    width: 100%;
  }
}
